@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(10rem);
    
}
.outerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}
.menu li{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}
.link {
    color: #6e6e6e;
}
.link:hover{
    color: #1a1a1a;
}
.link.active {
    color: #1a1a1a;
}
.icon{
    width: 4rem;
}

.section-heading{
    font-size: 2.5rem;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.section{
    padding: 1.5rem 0rem;
}

/* Animaton */
.slide-left {
    animation: slideFromLeft 1s ease-out forwards;
  }
  
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-right {
    animation: slideFromRight 1s ease-out forwards;
}
@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* About */
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 6rem 0rem 0rem 0rem; 
}
#about-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
}
#about-left h2{
    font-size: 2.6rem;
}
#name{
    color: #050505;
    font-family: 'Cinzel', serif;

}
#about-left h5{
    font-size: 2rem;
}
#about-left a{
    width: 10rem;
    height: 3rem;
}
#cv-button{
    width: 10rem;
    height: 3rem;
    margin: 1rem 0rem;
    font-size: 1.2rem;
    background: none;
    border-radius: 1.5rem;
    font-weight: bold;
    border: 2px solid 
}
#cv-button:hover{
    background: #050505;
    color: #efefef;
    cursor: pointer;
}
#about-right img{
    width: 30rem;
}



/* Education */
#education{
    /* height: 27rem; */
    background-color: #f0f0f0;
}
#education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.boxes {
    margin: 3rem 0rem;
    border: 2px solid #0f0f0f;
    width: 25%;
    height: 12rem;
    background: #0f0f0f;
    color: #f0f0f0;
    padding: 2rem 2rem;
    border-radius: 1rem;
}
.degree {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.college {
    font-size: 1.1rem;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.year {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-family:Arial, Helvetica, sans-serif ;
}


/* Skills */
#skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.skills-box {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border: 1px solid #1b1b1b;
    border-radius: 1rem;
    background-color: #1b1b1b;
}
.skills-logo {
    width: 60%;
    margin: 17.5% auto;
}

/* Projects */
#projects{
    height:100vh;
    border: 1px solid;
}






/* Contact Me */
#contactme{
    height:100vh;
    border: 1px solid;
}